{% extends "base.html" %}

{% block main %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div  class="card" >
    <div class="property-card">
        <div class="property-card-img">
            <img src="{{ url_for('get_image',filename=property.photo)}}" class="card-img"  />
        </div>
        
        <div class="property-card-body">
            <h3 class="card-title">{{property.title}}</h3>
        <div class="top-line">
            <div class="price">{{property.price}}</div>
            <div class="ptype">{{property.ptype}}</div>
        </div>
        <div class="descrp">
          <p class="card-text">{{property.description}}</p>
        </div>
        <div class="bullet">
            <img src="/static/img/double-bed.png" class="bullet-point">
            {{property.num_of_bedrooms}} Bedrooms
        </div>
        <div class="bullet" >
            <img src="/static/img/bathtub.png" class="bullet-point">
            {{property.num_of_bathrooms}} Bathrooms
        </div>
        <br/>
        <div class="bullet" id="b">
            <img src="/static/img/location.png" class="bullet-point">
            {{property.location}}
        </div>
        <br/>
       <button class="btn btn-success">Email Realtor</button>
    </div>
</div>
    
{% endblock %}
